.commitment__block {
    @include dis-f;
    margin-top: 100px;
    gap: 222px;
    margin-bottom: 150px;
    @media (max-width:$table) {
      gap: 60px;
    }
    @media (max-width:$phone) {
      flex-direction: column;
    }
}

.coffee_img {
  @media (max-width:$table) {
    width: 280px;
    height: 470px;
  }
  @media (max-width:$phone) {
    width: 327px;
    height: 400px;
  }
}

.commitment__info {
  width: 502px;
  @media (max-width:$phone) {
    width: 327px;
  }
}

.commitment__headline {
    color: $color-text-black;
    font-size: 40px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    @media (max-width:$phone) {
      text-align: center;
    }
}

.commitment__text {
    font-size: 16px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: $color-text-black;
    @media (max-width:$table) {
      width: 345px;
    }
    @media (max-width:$phone) {
      width: 327px;
      text-align: center;
    }
}