.headquarter__block {
    margin-top: 150px;
    margin-left: 120px;
    @media (max-width:$table) {
      margin-left: 75px;
    }
}

.headquarter__title {
    color: #83888F;
    font-size: 24px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

.headquarter__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 200px;
    @media (max-width:$table) {
      gap: 30px;
    }
}

.headquarter__box {
    h2 {
        color: $color-text-black;
        font-size: 32px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
    }

    p {
        font-size: 16px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        color: $color-text-black;
        margin: 5px;
    }

}