.quality__block {
    display: flex;
    border-radius: 10px;
    background: #2C343E;
    margin-top: -370px;
    @media (max-width:$table) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 488px;
    }
    @media (max-width:$phone) {
      height: 509px;
      margin-bottom: 100px;
    }
}

.quality__info {
    width: 507px;
    height: 350px;
    margin-top: 50px;
    margin-left: 85px;
    @media (max-width:$table) {
      margin-left: 0px;
      margin-top: 200px;
    }
    @media (max-width:$phone) {
      margin-top: 70px;
      @include dis-f;
      flex-direction: column;
      width: 279px;
    }
}

.quality__headline {
    font-size: 40px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    color: $color-text-white;
    @media (max-width:$table) {
      text-align: center;
    }
    @media (max-width:$phone) {
      font-size: 28px;
    }
}

.quality__text {
    font-size: 16px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: $color-text-white;
    @media (max-width:$table) {
      text-align: center;
    }
    @media (max-width:$phone) {
      font-size: 15px;
      width: 278px;
    }
}

.bitmap__img {
    border-radius: 10px;
    margin-left: 750px;
    @media (max-width:$table) {
      margin-left: 100px;
      width: 573px;
      height: 320px;
      margin-bottom: 200px;
    }
    @media (max-width:$phone) {
      width: 279px;
      height: 156px;
      margin-bottom: 290px;
      margin-left: 50px;
    }
}